/* --- ESTILOS GENERALES --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    padding: 20px;
    background-color: #f4f7f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.layout-grid {
    display: grid;
    /* Columna izquierda fija, derecha flexible */
    grid-template-columns: 160px 1fr;
    /* Header auto, contenido expandible, footer auto */
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

