/* --- ESTILOS ESPECÍFICOS PANEL PROPIETARIO --- */

/* Fondo general de esta página */
body.modo-propietario {
    background-color: #e3e8ef;
}

/* Header del panel */

header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.logo-box {
    width: 180px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #813636;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #2c3e50;
}
.logo-box img {
    width: 100%; height: 100%; object-fit: contain; display: block;
}
/* La pastilla del título */
.main-title-pill.propietario {
    background-color: #2c3e50;
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
}

/* Sección derecha del header */
.header-right span {
    margin-right: 15px;
    font-weight: bold;
    color: #2c3e50;
}

/* Botón cerrar sesión */
.btn-logout {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 20px 8px;
    border-radius: 5px;
    cursor: pointer;
}

/* Imágenes dentro de las cards */
.marco-fotos img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

/* Controles de administración (Botones editar/borrar) */
.admin-controls {
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.admin-btn {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}

.btn-edit {
    background-color: #ffc107;
    color: #333;
}

.btn-hide {
    background-color: #6c757d;
    color: white;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

/* Tarjeta para añadir nueva propiedad */
.add-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 200px;
    background: #ddd;
    color: #666;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.add-card-content:hover {
    background: #ccc;
    color: #333;
}